<!-- HEADER SECTION CONTENT -->

			<div class="awesome-slogan">

			<h2>We <span>Deliver</span> Solutions </h2>

			<h2><span>Everywhere</span></h2>

			

				<p>FOLLOW US</p>

				<div class="clear"></div>

				<div class="social-icons">

					<a href="#fakelink" data-toggle="tooltip" title="Facebook"><%= image_tag('facebook.png') %></a>

					<a href="#fakelink" data-toggle="tooltip" title="Liked In"><%= image_tag('likedin.png') %></a>

					<a href="#fakelink" data-toggle="tooltip" title="Twitter"><%= image_tag('twitter.png') %></a>

					

					

				</div><!-- /.social-icons -->

			</div><!-- /.awesome-slogan -->

			<!-- END HEADER SECTION CONTENT -->

		</div><!-- /.header-landing -->

		<!-- 

		===========================================

		END HEADER SECTION

		===========================================

		-->

		

		

		

		

		<!-- SEECTION THEME COLOR -->

		<div class="section-theme-landing"></div>

		<!-- END SECTION THEME COLOR -->

		

		

		

		

		

		<div class="section-page-landing section-grey" id="services">

			<div class="inner-section">

				<div class="container">

					<!-- BEGIN HEADING SECTION -->

					<h2 class="text-center">Our Services</h2>

					<!-- END HEADING SECTION -->

					<!-- BEGIN SERVICES DESCRIPTION -->

					<h4 class="text-center">

					We offer variety of technology solutions to grow your business. At sumuni Technologies,we don't just build applications, we take time to understand your business and build something robust, scalable which solves your needs.

					</h4>

					<!-- END SERVICES DESCRIPTION -->

					

					<div class="hi-icon-effect-1 hi-icon-effect-1a">

						<div class="row">

							<div class="col-sm-3">

								<div class="the-box-landing the-box-transparent text-center">

									<h4>WEB DESIGN</h4>

									<a href="#fakelink" class="hi-icon hi-icon-screen">Web Design</a>

								</div><!-- /.the-box-landing .the-box-transparent .text-center -->

							</div><!-- /.col-sm-3 -->

							<div class="col-sm-3">

								<div class="the-box-landing the-box-transparent text-center">

									<h4>UI DESIGN</h4>

									<a href="#fakelink" class="hi-icon hi-icon-images">UI Design</a>

								</div><!-- /.the-box-landing .the-box-transparent .text-center -->

							</div><!-- /.col-sm-3 -->

							<div class="col-sm-3">

								<div class="the-box-landing the-box-transparent text-center">

									<h4>MOBILE APPS</h4>

									<a href="#fakelink" class="hi-icon hi-icon-mobile">Mobile Apps</a>

								</div><!-- /.the-box-landing .the-box-transparent .text-center -->

							</div><!-- /.col-sm-3 -->

							<div class="col-sm-3">

								<div class="the-box-landing the-box-transparent text-center">

									<h4>WEB HOSTING</h4>

									<a href="#fakelink" class="hi-icon hi-icon-archive">Web Hosting</a>

								</div><!-- /.the-box-landing .the-box-transparent .text-center -->

							</div><!-- /.col-sm-3 -->

						</div><!-- /.row -->

					</div><!-- /.hi-icon-effect-1 .hi-icon-effect-1a -->

					

					<hr />

					

					<h2 class="text-center">What They Say About Us?</h2>

					

					

					<!-- BEGIN TESTIMONIAL CAROUSEL -->

					<div id="carousel-testimonial" class="carousel-landing carousel carousel-testimonial slide" data-ride="carousel">

						<!-- BEGIN TESTIMONIAL ICON -->

						<div class="testimonial-icon">

							<span class="fa-stack fa-lg">

							  <i class="fa fa-circle fa-stack-2x"></i>

							  <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>

							</span><!-- /.fa-stack .fa-lg -->

						</div><!-- /.testimonial-icon -->

					

					  <!-- Indicators -->

					  <ol class="carousel-indicators">

						<li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>

						<li data-target="#carousel-testimonial" data-slide-to="1"></li>

						<li data-target="#carousel-testimonial" data-slide-to="2"></li>

					  </ol>



					  <!-- Wrapper for slides -->

					  <div class="carousel-inner">

						<div class="item active">

							<div class="testimonial-inner">

								<h5>&#34;

								We conducted an extremely comprehensive search to ensure that we saw what all of the AMS providers in the industry offer to their prospective clients. With an organization of our size and complexity, it was important that the solution we chose be able to meet our every need

								&#34;</h5>

								<h4 class="testimonial-name">Dennis Mbuthi - Nairobi, <abbr title="Kenya">ID</abbr></h4>

								<div class="testimonial-avatar">

										<%= image_tag('avatar.jpg', class: 'img-circle')%>
									

								</div><!-- /.testimonial-avatar -->

							</div><!-- /.testimonial-inner -->

						</div><!-- /.item .active -->

						<div class="item">

							<div class="testimonial-inner">

								<h5>&#34;

								As an organization, we required our association management platform to come as SaaS [software-as-a-service], but we didn't want to sacrifice functionality. Sumuni was able to quickly deliver us a 'best of both worlds' solution.

								&#34;</h5>

								<h4 class="testimonial-name">Sam Mokayah - Nairobi, ID</h4>

								<div class="testimonial-avatar">
								
										<%= image_tag('avatar.jpg', class: 'img-circle')%>
									

								</div><!-- /.testimonial-avatar -->

							</div><!-- /.testimonial-inner -->

						</div><!-- /.item -->

						<div class="item">

							<div class="testimonial-inner">

								<h5>&#34;

								We worked closely with the Sumuni team to examine our business processes and ultimately implemented solutions that are truly incredible. Our members now have a web experience that speaks to their interests, and we are better equipped to tailor our offerings to our diverse membership

								&#34;</h5>

								<h4 class="testimonial-name">Sara Curtis - London, UK</h4>

								<div class="testimonial-avatar">
									
										<%= image_tag('avatar.jpg', class: 'img-circle')%>
									
								</div><!-- /.testimonial-avatar -->

							</div><!-- /.testimonial-inner -->

						</div><!-- /.item -->

					  </div><!-- /.carousel-inner -->

					</div><!-- /.carousel-landing .carousel .carousel-testimonial .slide -->

					<!-- END TESTIMONIAL CAROUSEL -->

				</div><!-- /.container -->

			</div><!-- /.inner-section -->

		</div><!-- /.section-page-landing .section-grey -->

		<!-- 

		===========================================

		END SERVICES SECTION

		===========================================

		-->

		

		

		

		

		<!-- 

		===========================================

		BEGIN PORTFOLIO SECTION

		===========================================

		-->

		<div class="section-page-landing" id="portfolio">

			<div class="inner-section">

				<!-- BEGIN MODAL PORTFOLIO -->

				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

				  <div class="modal-dialog">

					<div class="modal-content">

						<!-- MODAL HEADER -->

						<div class="modal-header">

							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

							<h4 class="modal-title" id="myModalLabel">Project name</h4>

						</div>

						<!-- MODAL BODY -->

						<div class="modal-body">

						<!-- <img src="images/blog-img/image001.jpg" class="img-responsive" alt="Image portfolio"> -->
						<%= image_tag('image001.jpg', class: 'img-responsive')%>

						<hr />

							<div class="row">

								<div class="col-sm-4">

									<button class="btn btn-default btn-teplok btn-block">Launch project</button>

									<table class="table table-modal-project">

										<tbody>

											<tr><td><strong>Type</strong></td><td class="text-right">Photography</td></tr>

											<tr><td><strong>Client</strong></td><td class="text-right">Marlboro</td></tr>

											<tr><td><strong>Year</strong></td><td class="text-right">2014</td></tr>

										</tbody>

									</table>

								</div><!-- /.col-sm-4 -->

								<div class="col-sm-8">

									<p style="text-align: justify">

									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

									</p>

								</div><!-- /.col-sm-8 -->

							</div><!-- /.row -->

						</div><!-- /.modal-body -->

					</div><!-- /.modal-content -->

				  </div><!-- /.modal-dialog -->

				</div><!-- /.modal .fade -->

				<!-- END MODAL PORTFOLIO -->

				

				

				<div class="container">

					<h2 class="text-center">Our Work</h2>

					<div class="portfolio-landing">

						<!-- PORTFOLIO CATEGORY FILTER -->

						<ul class="nav nav-pills nav-justified">

							<li class="filter" data-filter="all">All</li>

							<li class="filter" data-filter="web_design">Web Design</li>

							<li class="filter" data-filter="logo_design">Mobile Application</li>

							<li class="filter" data-filter="ui_design">UI Design</li>

							<li class="filter" data-filter="logo_design">Logo Design</li>

							

						</ul>

						<!-- END PORTFOLIO CATEGORY FILTER -->

						<!-- BEGIN PORTFOLIO GRID CONTENT -->

						<ul id="portfolio-grid">

							<li class="mix web_design">

								<div class="des">

									<h4>Sumuni</h4>

									<p>Short descriptions</p>

									<p>

										<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>

										<a href="#fakelink"><i class="fa fa-link"></i></a>

									</p>

								</div>

								<%= image_tag('sumuni-logo2.jpg', class: 'img-responsive')%>


							</li>

							<li class="mix web_design">

								<div class="des">

									<h4>Tutor</h4>

									<p>Short descriptions</p>

									<p>

										<a data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>

										<a href="#fakelink"><i class="fa fa-link"></i></a>

									</p>

								</div>

								<%= image_tag('tutor.png', class: 'img-responsive')%>

							</li>

						</ul>

						<!-- END PORTFOLIO GRID CONTENT -->

					</div><!-- /.portfolio-landing -->

				</div><!-- /.container -->

			</div><!-- /.inner-section -->

		</div><!-- /.section-page-landing -->

		<!-- 

		===========================================

		END PORTFOLIO SECTION

		===========================================

		-->

		

		

          

		

		

		

		

		

		<!-- 

		===========================================

		BEGIN TEAM SECTION

		===========================================

		-->

		<div class="section-page-landing section-light-grey" id="team">

			<div class="inner-section">

				<div class="container">

					<h2 class="text-center">Meet Our Team</h2>

					

					<!-- TEAM COLUMN -->

					<div class="row">

						<div class="col-md-3 col-sm-6">

							<div class="the-box-landing text-center the-team-landing full">

								<div class="ava-wrap">

										<div class="see-detail"></div>

										<div class="button-link">

											<a href="#fakelink"><i class="fa fa-facebook"></i></a>

											<a href="#fakelink"><i class="fa fa-twitter"></i></a>

											<a href="#fakelink"><i class="fa fa-google-plus"></i></a>

										</div>

									<%= image_tag('avatar.jpg', class: 'img-responsive')%>

								</div><!-- /.ava-wrap -->

								<div class="des">

									<h3>Awil Osman</h3>

									<h5>-CEO and Founder-</h5>

								</div><!-- /.des -->

							</div><!-- /.the-box-landing .text-center .the-team-landing full -->

						</div><!-- /.col-md-3 .col-sm-6 -->

						<div class="col-md-3 col-sm-6">

							<div class="the-box-landing text-center the-team-landing full">

								<div class="ava-wrap">

										<div class="see-detail"></div>

										<div class="button-link">

											<a href="#fakelink"><i class="fa fa-facebook"></i></a>

											<a href="#fakelink"><i class="fa fa-twitter"></i></a>

											<a href="#fakelink"><i class="fa fa-google-plus"></i></a>

										</div>

									<%= image_tag('avatar.jpg', class: 'img-responsive')%>

								</div><!-- /.ava-wrap -->

								<div class="des">

									<h3>Ahmed Arif</h3>

									<h5>-Chief Technology Officer-</h5>

								</div><!-- /.des -->

							</div><!-- /.the-box-landing .text-center .the-team-landing full -->

						</div><!-- /.col-md-3 .col-sm-6 -->

						<div class="col-md-3 col-sm-6">

							<div class="the-box-landing text-center the-team-landing full">

								<div class="ava-wrap">

										<div class="see-detail"></div>

										<div class="button-link">

											<a href="#fakelink"><i class="fa fa-facebook"></i></a>

											<a href="#fakelink"><i class="fa fa-twitter"></i></a>

											<a href="#fakelink"><i class="fa fa-google-plus"></i></a>

										</div>

									<%= image_tag('avatar.jpg', class: 'img-responsive')%>

								</div><!-- /.ava-wrap -->

								<div class="des">

									<h3>Cliff Anami</h3>

									<h5>-Product Manager-</h5>

								</div><!-- /.des -->

							</div><!-- /.the-box-landing .text-center .the-team-landing .full -->

						</div><!-- /.col-md-3 .col-sm-6 -->

						<div class="col-md-3 col-sm-6">

							<div class="the-box-landing text-center the-team-landing full">

								<div class="ava-wrap">

										<div class="see-detail"></div>

										<div class="button-link">

											<a href="#fakelink"><i class="fa fa-facebook"></i></a>

											<a href="#fakelink"><i class="fa fa-twitter"></i></a>

											<a href="#fakelink"><i class="fa fa-google-plus"></i></a>

										</div>

									<%= image_tag('avatar.jpg', class: 'img-responsive')%>

								</div><!-- /.ava-wrap -->

								<div class="des">

									<h3>Sawo Cliff</h3>

									<h5>-Developer-</h5>

								</div><!-- /.des -->

							</div><!-- /.the-box-landing .text-center .the-team-landing .full -->

						</div><!-- /.col-md-3 .col-sm-6 -->

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-sm-6">

							<div class="the-box-landing text-center the-team-landing full">

								<div class="ava-wrap">

										<div class="see-detail"></div>

										<div class="button-link">

											<a href="#fakelink"><i class="fa fa-facebook"></i></a>

											<a href="#fakelink"><i class="fa fa-twitter"></i></a>

											<a href="#fakelink"><i class="fa fa-google-plus"></i></a>

										</div>

									<%= image_tag('avatar.jpg', class: 'img-responsive')%>

								</div><!-- /.ava-wrap -->

								<div class="des">

									<h3>Ahmed Abdirahman</h3>

									<h5>-Front End Developer: Intern-</h5>

								</div><!-- /.des -->

							</div><!-- /.the-box-landing .text-center .the-team-landing .full -->

						</div><!-- /.col-md-3 .col-sm-6 -->

						

						<!-- YOU CAN USE THIS COLUMN FOR HIRING INFORMATION -->

						<div class="col-md-9 col-sm-6">

							<div class="the-box-landing full text-center the-box-transparent">

								<h2>We're hiring, join with us...</h2>

								<h4>

								Our team is growing and attracting raw and experienced talents. 

								</h4>

								<button class="btn btn-default btn-teplok btn-lg btn-distance"><i class="fa fa-cloud-upload"></i> Submit your application</button>

								<p class="text-danger">*note : all in one zipped file</p>

							</div><!-- /.the-box-landing .full .text-center .the-box-transparent -->

						</div><!-- /.col-md-9 .col-sm-6 -->

					</div><!-- /.row -->

					<!-- END TEAM COLUMN -->

				</div><!-- /.container -->

			</div><!-- /.inner-section -->

		</div><!-- /.section-page-landing .section-light-grey -->

		<!-- 

		===========================================

		END TEAM SECTION

		===========================================

		-->

		

		

		

		

		

		<!-- 

		===========================================

		BEGIN CLIENT SECTION

		===========================================

		-->

		<div class="section-page-landing section-grey" id="client">

			<div class="inner-section">

				<div class="container text-center">

					<h2 class="text-center">Our Clients</h2>

					<div class="clients">

						<div class="row">

							<div class="col-md-3 col-xs-6">

								<a href="#fakelink"><%= image_tag('hass.jpg', class: 'img-responsive')%></a>

							</div>

						</div><!-- /.row -->

					</div><!-- /.clients -->

				</div><!-- /.container .text-center -->

			</div><!-- /.inner-section -->

		</div><!-- /.section-page-landing .section-grey -->

		<!-- 

		===========================================

		END CLIENT SECTION

		===========================================

		-->

		<section id="about-us" class="about-us">
            <div class="container-fluid">
                <div class="row" style="margin-left: -31px;">
                    <div class="col-md-6 col-xs-12 p-l-r-0">
                        <div id="about" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <%= image_tag('resp1.jpg')%>
                                </div>
                                <div class="item">
                                    <%= image_tag('resp2.jpg')%>
                                </div>
                                <div class="item">
                                    <%= image_tag('resp3.jpg')%>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="about-content">
                            <h2 class="row text-center">Request for a quatation</h2>
                            <h4 class="row text-center" style="margin-top: 3rem;">We are a Kenyan company that offers variety of technology solutions to grow your business. At sumuni Technologies,we don't just build applications, we take time to understand your business and build something robust, scalable which solves your needs </h4>
                            <%= link_to "Request for a quotation", new_contact_path, class: 'btn btn-primary btn-lg btn-block' %>

                        </div> 
                    </div>
                </div>
            </div>
        </section>
        
		<!-- 

		===========================================

		BEGIN QUOTE OF THE DAY SECTION

		===========================================

		-->

		<div class="section-page-landing section-transparent" id="quote">

			<div class="section-overlay">

				<div class="inner-section">

					<div class="container text-center">

						<div class="quote">

							<h1>&#34;<font color="black">If you can't make it good at least make it look good</font>&#34;</h1>

							<h3><font color="black">- Bill Gates</font></h3>

						</div><!-- /.quote -->

					</div><!-- /.container text-center -->

				</div><!-- /.inner-section -->

			</div><!-- /.section-overlay -->

		</div><!-- /.section-page-landing .section-transparent -->

		<!-- 

		===========================================

		END QUOTE OF THE DAY SECTION

		===========================================

		-->

		

		

		

		

		

		

		

		

		

		<!-- 

		===========================================

		BEGIN FOOTER SECTION

		===========================================

		-->

		<footer id="contact">

			<div class="container">

				<div class="row text-center">

					<div class="col-sm-3">

						<h5>ABOUT US</h5>

						<p>

						We are a Kenyan company that offers variety of technology solutions to grow your business. At sumuni Technologies,we don't just build applications, we take time to understand your business and build something robust, scalable which solves your needs

						<br />

						<a href="#fakelink">Read more</a>

						</p>

					</div>

					<div class="col-sm-3">

						<h5>MENUS</h5>

						<ul>

							<li><a href="#fakelink">Home</a></li>

							<li><a href="#fakelink">Our Services</a></li>

							<li><a href="#fakelink">Our Portfolio</a></li>

							<li><a href="#fakelink">Contact Us</a></li>

						</ul>

					</div>

					<div class="col-sm-3">

						<h5>OUR LOCATION</h5>

						<address>

						  <strong>4TH FLOOR, BISHOP MAGUA CENTRE,<br>

						  NGONG ROAD, NAIROBI KENYA.<br>

						  <abbr title="Phone">P:</abbr> (+254) 700897769

						</address>



						<address>

						  <strong>Email : </strong><br>

						  <a href="mailto:#">info@sumunitech.co.ke</a>

						</address>

					</div>

					<div class="col-sm-3">

						<h5>SUBSCRIBE</h5>

						<p>Sign up to our newsletter to get the latest update on the tech industry</p>

						<form role="form" method="POST" class="form-subscribe">

							<div class="input-group">

							  <input type="text" class="form-control" placeholder="Email address">

							  <span class="input-group-btn">

								<button class="btn btn-default btn-teplok" type="button"><i class="fa fa-chevron-right"></i></button>

							  </span>

							</div>

						</form>

						<p>*we never send junks</p>

					</div><!-- /.col-sm-3 -->

				</div><!-- /.row .text-center -->

			</div><!-- /.container -->

			

			<div class="footer">

				<div class="container">

					&copy; 2016 <a href="#fakelink">Sumuni Technologies</a><br />



				</div><!-- /.container -->

			</div><!-- /.footer -->

		</footer>

		<!-- 

		===========================================

		END FOOTER SECTION

		===========================================

		-->

		

		

		<!-- BACK TO TOP BUTTON -->

		<div id="back-top">

			<a href="#top"><i class="fa fa-chevron-up"></i></a>

		</div>

		<!-- END BACK TO TOP -->

		

		

	</div><!-- /.wrapper -->

	<!-- END OF PAGE -->

	

	

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

		<script src="assets/js/jquery.js"></script>

		<script src="assets/js/bootstrap.min.js"></script>

		<script src="assets/third/validator/bootstrapValidator.min.js"></script>

		<script src="assets/js/jquery.smooth-scroll.js"></script>

		

		<!-- REQUIRED FOR LANDING PAGE -->

		<!-- <script src="../../assets/stylesheets/hovericon/js/modernizr.custom.js"></script>

		<script src="../../assets/js/parallax/jquery.parallax-1.1.3.js"></script>

		<script src="../../assets/js/TweenMax.min.js"></script>

		<script src="../../assets/js/jquery.superscrollorama.js"></script>

		<script src="../../assets/js/jquery.mixitup.js"></script> -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>


		<script>

			$(document).ready(function() {
			    $.backstretch([
			          "<%= asset_path 'image003.jpg' %>"
			          ,  "<%= asset_path 'image004.jpg' %>"
			          ,  "<%= asset_path 'image003.jpg' %>"
			        ], {duration: 6000, fade: 750});
			});
		</script>
		<script src="../../assets/js/teplok-one-page.js"></script>